* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC,
    Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: #333;
  -webkit-tap-highlight-color: #33333305;
  height: 100%;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}

#app {
  height: 100%;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transform: translateX(0);
  transition: 0.5s transform ease;
  will-change: transform;
  position: absolute;
  top: 0;
  left: 0;
}

.translate-x-100x {
  transform: translateX(100%);
}
.translate-x-minus-100x {
  transform: translateX(-100%);
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.loading {
  padding-top: calc((100vh - 44px - 54px - 32px) / 2);
}

.loading img {
  display: block;
  margin: 0 auto;
  width: 32px;
}
