* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC,
    Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  font-size: 14px;
  color: #333;
  -webkit-tap-highlight-color: #33333300;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.header {
  height: 44px;
  background-color: #f8f8f8;
}
.content {
  flex: 1;
}
.footer {
  height: 48px;
  background-color: #f8f8f8;
}
